* {
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
}
html, body {
  position: absolute;
  overflow: hidden;
  background-color: #101820;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
